.vscode
megaphone
_obj/
_obj/*.o
_obj/*.d
*.o
*.d
*.pdf
cpp00.pdf
cpp01.pdf
*.DS_Store
phonebook
19920104_091532.log
zombie
brain
violence
sed
infile
infile.replace
*.out
*.md
root_shrubbery
*.tgz
*.csv
CPP_09/ex00/btc
